{% extends "base.html" %} {% block title %}Media browser{% endblock %} {% block
content %}
<h1>Media Gallery</h1>
<div class="gallery">
  {% for file in media_files %}
  <div
    class="gallery-item"
    data-src="{{ url_for('upload.media_file', filename=file) }}"
  >
    {% if file.endswith(('png', 'jpg', 'jpeg', 'gif')) %}
    <img
      src="{{ url_for('upload.media_file', filename=file) }}"
      alt="{{ file }}"
    />

    {% elif file.endswith('mp4') %}
    <video muted>
      <source
        src="{{ url_for('upload.media_file', filename=file) }}"
        type="video/mp4"
      />
    </video>

    {% elif file.endswith('mp3') %}
    <audio controls>
      <source
        src="{{ url_for('upload.media_file', filename=file) }}"
        type="audio/mpeg"
      />
    </audio>

    {% elif file.endswith('pdf') %}
    <a
      href="{{ url_for('upload.media_file', filename=file) }}"
      target="_blank"
      class="pdf-link"
    >
      <img
        src="{{ url_for('static', filename='images/pdf-icon.png') }}"
        alt="PDF"
        class="pdf-thumbnail"
      />
    </a>

    {% else %}
    <a href="{{ url_for('upload.media_file', filename=file) }}" target="_blank"
      >{{ file }}</a
    >
    {% endif %}

    <div class="image-name">{{ file }}</div>
  </div>
  {% endfor %}
</div>

<!-- Modal -->
<div id="media-modal" class="modal">
  <span class="modal-close">&times;</span>
  <div class="modal-content" id="modal-content"></div>
</div>
{% endblock %}
