{% extends "base.html" %} {% block title %}Entry Management{% endblock %} {%
block content %}
<h2>Entry Management</h2>
<div class="entry-container">
  <div class="entry-selectors">
    <div>
      <label for="pageType" class="form-label fw-bold">Select Entry Type</label>
      <select id="pageType" class="form-select">
        <option value="" disabled selected>Choose entry type...</option>
        {% for key, value in models.items() %} {% if key not in ["user",
        "comment"] %}
        <option value="{{ key }}">{{ value.__name__ }}</option>
        {% endif %} {% endfor %}
      </select>
    </div>

    <div>
      <button id="createNewButton">Create New</button>
      <button id="resetFormButton">Clear Form</button>
    </div>

    <div>
      <label for="editEntrySelect" class="form-label">Edit Existing Entry</label>
      <select id="editEntrySelect" class="form-select" disabled>
        <option value="" disabled selected>Select an entry to edit</option>
      </select>
    </div>
  </div>
  <!-- Left: Form -->
  <div class="entry-form">
    <form id="dynamicForm" class="form middle" style="display: none">
      <!-- Dynamic form fields will be injected here -->
    </form>
  </div>
  <!-- Right: List of entries -->
  <div class="entry-list" id="entryList">
    <!-- JS will inject entries here as cards -->
  </div>
</div>

{% endblock %}